<html>
    <body>

    <form action="/hello" method="get"> 
        <b>Name:</b> <input type="text" name="name"/>
        <br>
        <b>Age:</b> <input type="text" name="age"/>
        <br>
        <input type="hidden" name="profile" value="ADMIN"/>
        <button type="submit">Send</button>
    </form>


    </body>


</html>